.color-picker{
  background: #4dacfa;
}

.logo {
  float: left;
  width: 120px;
  height: 32px;
  margin: 16px 24px 16px 24px;
  background: rgb(212, 8, 8);
}
.ant-row-rtl .logo {
  float: right;
  margin: 16px 0 16px 24px;
}

.footer{
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #4dacfa;
  color: white;
  height: 20px;
  text-align: center;
}

.konten{
  background: #fff;
  padding: 0 20px 20px 20px;
  margin-top: 64px;
}

.menureports{
  color: black;
  height: 300px;
  width: 400px;
  background: #fff;
}